.header h1 {
  font-family: Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(pattern.jpeg);
  margin-top: 0px;
  margin-bottom: 0px;
 }

.header p {
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color:  khaki;
}


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {opacity: 0.7;}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


#myPic {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myPic:hover {opacity: 0.7;}

#text {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.exit {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.exit:hover,
.exit:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


#myPho {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myPho:hover {opacity: 0.7;}

#name {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.done {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.done:hover,
.done:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.sea {
    background-color: mediumspringgreen;
}
.coral {
    background-color:lightcoral;
}
.blue {
    background-color: skyblue;
}
.price {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}

footer {
    background-image: url(pattern.jpeg);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color:  khaki;
    text-align: center;
}
